<p id="notice"><%= notice %></p>


  <strong>Title</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to '編輯', edit_topic_path(@topic), class: 'btn btn-primary' %>
<%= link_to '返回', topics_path, class: 'btn btn-default' %>
